body {
    background-color: gray;
    background-image: url("Images/logIn.jpg");
    font-family: Calibri, SansSerif;
    margin: 0px;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
   background-color: whitesmoke;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

form {
    display: flex;
    flex-direction: column;
}

input[type="text"],
input[type="password"] {
    width: 100px;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid whitesmoke;
    border-radius: 5px;
    font-size: 15px;
}

input[type="submit"] {
    background-color: greenyellow;
    color: whitesmoke;
    border: none;
    padding: 10px 10px;
    font-size: 15px;
    border-radius: 5px;
}

a {
    color: green;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}